<div layout:decorator="layouts/defaultLayout" layout:fragment="content" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <h1>자유게시판</h1>
    <div id="freeboard">
        <table class="table" name="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
            </tr>
            </thead>
            <tbody name="freeboardTbody">
            </tbody>
        </table>

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center" name="freeboardPagnav">
            </ul>
        </nav>
    </div>
</div>
<script src="/js/freeboard/freeboard.js"></script>